@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    min-width: 1200px;
}

.topnav {
    background-color: #0E0E0E;
    height: 60px;
}

.login-register {
    float: right;
    padding-right: 50px;
    padding-top: 19px;
    text-decoration: none;
    color: #ffffff;
    font-family: Nunito, serif;
}

.login-register:hover {
    text-decoration: none;
    color: #ffffff;
}

.topnav a.social, .topnav p.social {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 19px 10px 10px 0px;
    text-decoration: none;
    font-size: 14px;
}

.information {
    background-color: #f2f2f2;
}

.information .main-information .title {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.information .main-information .date {
    padding: 10px;
}

.information .place {
    padding-left: 10px;
}

.information .description {
    padding-left: 10px;
    padding-bottom: 1px;
}

.align-items-left {
    float:left;
    margin-top: 15px;
}

.align-items-left a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Nunito', Arial, serif;
    padding-left: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    padding-right: 20px;
    height: 60px;
    width:80px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    z-index: 1;
    top: 60px;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #325aff;
}

.dropdown:hover > .dropdown-content {
    display: block;
    right: 0px;
}

.container-of-content {
    width: 1200px;
    margin: 0 auto;
}

.justify-content-both {
    clear: both;
}
